<h4>
{{currentComment.user}} - {{currentComment.date}}
</h4>
<p>{{currentComment.message}}</p>
{{edit-comment currentComment=currentComment editComment="sendUpdate"}}
<button type="button" {{action 'deleteComment' currentComment}}>Delete Comment!</button>
