{{#if showForm}}
  <form>
    <label for="user">Your Name</label>
    {{input type="text" value=user}}
    <label for="title">title</label>
    {{input type="text" value=title}}
    <label for="text">Message</label>
    {{textarea value=text}}
  </form>
  <button type="button" {{action 'create'}}>Submit!</button>
{{else}}
  <button type="button" {{action 'toggleForm'}}>New Post!</button>
{{/if}}
